{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_management.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile_management' %}">Profile Management</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Profile Management</h1>
        <p><a href="{% url 'profile' request.user.username %}">View Profile</a></p>
        <p><a href="{% url 'edit_profile' %}">Update Profile</a></p>
        <form method="GET" action="">
            {% csrf_token %}
            <label for="username">View Profile Of:</label>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <button type="submit">Search</button>
        </form>
    </main>
</body>
</html>