{% load static compress %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    {% endcompress %}
</head>
<body>
    <div class="signup-container">
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" required>
            <p>Email</p>
            <input type="email" name="email" required>
            <p>Password</p>
            <input type="password" name="password" required>
            <p>Repeat password</p>
            <input type="password" id="password2" name="password2" required> <br>
            <input type="submit" value="Sign Up">
        </form>
        <div class="login-prompt">
            <p>Already have an account? <a href="/login">Log in</a></p>
        </div>
    </div>
</body>
</html>